.deneme {
    height: 667px;
    /*background-color: rgba(255,255,0,0.5);*/
    background-image: url('../html/goz.jpg');
    background-size: auto;
    background-repeat: repeat-x;

}

/*@media screen and (max-width: 1000px) {
    .onlyMobile{
        display: block;
    }
    .onlyDesktop{
        display: none;
    }
}*/